.card {
  position: relative;
}

.card img {
  width: 100%;
  display: block;
  border: 2px solid whitesmoke;
  border-radius: 6px;
}

/* front of card displayed or not displayed when selected *******/
.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}
.show .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

/* card cover animation when it's selected *******/
.card .cover {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}
.show .cover {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
